*{
    padding: 0;
    margin: 0;

}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 10vh 100vh 100vh 100vh 100vh 100vh 2vh / 100%;
    overflow-x: hidden;
    grid-template-areas: 
    
    "header"
    "landing"
    "about"
    "projects"
    "skills"
    "connect"
    "footer";
}

/* HEADER */

header{
    background-color: #fffff1;
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}

.icon{
    width: 3.25em;
    height: 3.25em;
}

/* LANDING */

.landing{
    display: grid;
    grid-area: landing;
    grid-template: 100% / 50% 50%;
    grid-template-areas: 
    "landing-1 landing-2";

    background-image: url(assets/bg-home.jpg);
    background-size: 100%;
    background-position-y: bottom;
}

.landing-1{
    grid-area: landing-1;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.landing h1{
    font-size: 7rem;
    color: #fffff0;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9,
    0 0 50px #000000,
    0 0 55px #fffff9;
}

.landing h2, h3{
    font-size: 2rem;
    color: #fffff0;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9;
}

.landing-2{
    grid-area: landing-2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-2 img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 0.5em solid #ffffff;
}

/* ABOUT */

.about{
    display: grid;
    grid-area: about;
    padding: 2rem;
    grid-template: 100% / 60% 40%;
    grid-template-areas: 
    "about-1 about-2";

    background-image: url(assets/bg-about.jpg);
    background-size: 100%;
    background-position-y: top;
    
}

.about h2{
    font-size: 9rem;
    text-align: center;
    color: #fffff0;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9,
    0 0 50px #000000,
    0 0 55px #fffff9;
}

.about p{
    width: 90%;
    height: fit-content;
    font-size: 2rem;
    color: #000011;
    text-align: justify;
}

.about img{
height: 4rem;
width: 4rem;

}

.about-1{
    grid-area: about-1;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: center;
}

.resume{
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
}

.resume p{
    display: inline;
}

.about-2{
    grid-area: about-2;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* PROJECTS */

.projects{
    display: grid;
    grid-area: projects;
    grid-template: 100% / 40% 60%;
    grid-template-areas: 
    "projects-1 projects-2";

    background-image: url(assets/bg-projects.png);
    background-size: 100%;
    background-position-y: center;
}

.projects-1{
    grid-area: projects-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h2{
    font-size: 8rem;
    color: #fffff9;
}

.projects-2{
    grid-area: projects-2;
    display: flex;
    flex-flow: wrap row;
    padding: 1rem;
    align-items: center;
    gap: 1em;
}

/* SKILLS */

.skills{
    display: grid;
    grid-area: skills;
    grid-template: 100% / 60% 40%;
    grid-template-areas: 
    "skills-1 skills-2";

    background-image: url(assets/bg-skills.png);
    background-size: 100%;
    background-position-y: bottom;
}

.skills-1{
    grid-area: skills-1;
    display: flex;
    flex-flow: wrap row;
    padding: 1rem;
    align-items: center;
    gap: 1em;
}

.skills-2{
    grid-area: skills-2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills h2{
    font-size: 8rem;
    color: #fffff9;
}

/* CARD for PROJECTS and SKILLS */

.card{
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 40%;
    color: #fffff9;
    text-align: justify;
    border: 3px solid #ffffff;
    padding: 1rem;
}

.card-content{
    width: 90%;
    height: 80%;
    border: 2px solid black;
    padding: 0.5em;
}

/* CONNECT */

.connect{
    display: grid;
    grid-area: connect;
    grid-template: 100% / 50% 50%;
    grid-template-areas: 
    "connect-1 connect-2";

    background-image: url(assets/bg-connect.png);
    background-size: 100%;
    background-position-y: top;
}

.connect-1{
    grid-area: connect-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem;
}

.connect h2{
    font-size: 8rem;
    color: #fffff9;
}

.connect-2{
    grid-area: connect-2;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    row-gap: 2rem;
}

.click h5{
    display: inline;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.click img{
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

/* FOOTER */

footer{
    grid-area: footer;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    background-color: #fffff1;
    position: relative;
    clear: both;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
.about a:hover { font-size: 5em;}
a:hover { font-size: 1.2rem;}
a:active { text-decoration: none; }

/* MOBILE START */

@media only screen and (min-width: 320px) and (max-width: 426px) {
    .container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template: 10vh 100vh 100vh 100vh 100vh 100vh 2vh / 100%;
        overflow-x: hidden;
        grid-template-areas: 
        
        "header"
        "landing"
        "about"
        "projects"
        "skills"
        "connect"
        "footer";
    }

    /* HEADER - MOB */

header{
    background-color: #fffff1;
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}

.icon{
    width: 2em;
    height: 2em;
}

/* LANDING */

.landing{
    display: grid;
    grid-area: landing;
    grid-template: 45% 55% / 100%;
    grid-template-areas: 
    "landing-2"
    "landing-1";

    background-image: url(assets/bg-home-mob-tab.png);
    background-size: cover;
    background-position-y: bottom;
}

.landing-1{
    grid-area: landing-1;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.landing h1{
    font-size: 3rem;
    color: #fffff0;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9,
    0 0 50px #000000,
    0 0 55px #fffff9;
}

.landing h2, h3{
    font-size: 1.2rem;
    text-align: center;
    color: #fffff0;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9;
}

.landing-2{
    grid-area: landing-2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.landing-2 img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.5em solid #ffffff;
}

/* ABOUT - MOB */

.about{
    display: grid;
    grid-area: about;
    padding: 2rem;
    grid-template: 30% 70% / 100%;
    grid-template-areas: 
    "about-2"
    "about-1";

    background-image: url(assets/bg-about-mob-tab.png);
    background-size: cover;
    background-position-y: top;
    
}

.about h2{
    font-size: 3rem;
    text-align: center;
    color: #000;
    text-shadow: 
    0 0 30px #000000,
    0 0 42px #fffff9,
    0 0 50px #000000,
    0 0 55px #fffff9;
}

.about p{
    width: 100%;
    height: fit-content;
    font-size: 1.25rem;
    text-align: justify;
}

.about img{
height: 1.5rem;
width: 1.5rem;

}

.about-1{
    grid-area: about-1;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: center;
    margin-bottom: 7rem;
}

.about-1 > p{
    color: #fffff9;
}

.resume{
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    margin-top: 3rem;
    background-color: white;
}

.resume p{
    display: inline;
}

.about-2{
    grid-area: about-2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECTS - MOB */

.projects{
    display: grid;
    grid-area: projects;
    grid-template: 20% 80% / 100%;
    grid-template-areas: 
    "projects-1"
    "projects-2";

    background-image: url(assets/bg-projects-mod-tab.png);
    background-size: cover;
    background-position-y: center;
}

.projects-1{
    grid-area: projects-1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.projects h2{
    font-size: 3rem;
    color: #fffff9;
}

.projects-2{
    grid-area: projects-2;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    gap: 0.25em;
}

/* SKILLS - MOB */

.skills{
    display: grid;
    grid-area: skills;
    grid-template: 20% 80% / 100%;
    grid-template-areas: 
    "skills-2"
    "skills-1";

    background-image: url(assets/bg-skills-mob-tab.png);
    background-size: cover;
    background-position: center;
}

.skills-1{
    grid-area: skills-1;
    display: flex;
    flex-flow: nowrap column;
    padding: 1rem;
    align-items: center;
    gap: 0.25em;
}

.skills-2{
    grid-area: skills-2;
    display: flex;
    justify-content: center;
    align-items: end;
}

.skills h2{
    font-size: 3rem;
    color: #fffff9;
}

/* CARD for PROJECTS and SKILLS - MOB*/

.card{
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 90%;
    color: #fffff9;
    text-align: justify;
    border: 3px solid #ffffff;
    padding: 0.25rem;
}

.card-content{
    width: 90%;
    height: 80%;
    border: 2px solid black;
    padding: 0.5em;
    font-size: 0.75em;
}

/* CONNECT - MOB*/

.connect{
    display: grid;
    grid-area: connect;
    grid-template: 20% 80% / 100%;
    grid-template-areas: 
    "connect-1"
    "connect-2";

    background-image: url(assets/bg-connect-mob-tab.png);
    background-size: cover;
    background-position-y: top;
}

.connect-1{
    align-items: end;
    padding: 0.5rem;
}

.connect h2{
    font-size: 2rem;
}

.connect-2{
    text-align: center;
    row-gap: 1rem;
}

.click h5{
    font-size: 1.5rem;
}

.click img{
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}

/* FOOTER - MOB */

footer{
    font-size: 0.9rem;
}

}

/* TABLET START */

@media only screen and (min-width: 427px) and (max-width: 768px) {
    
/* LANDING - TAB */

    .landing{
        background-size: cover;
        background-position-y: top;
    }

    .landing h1{
        font-size: 4rem;
    }

    .landing h2, h3{
        font-size: 2rem;
        text-align: center;
    }

    .landing-2 img{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }

    /* ABOUT - TAB */

    .about{
        background-size: cover;
        background-position-y: top;
    }

    .about h2{
        font-size: 5rem;
    }

    .about p{
        font-size: 1.5rem;
    }

    .about img{
    height: 1.25rem;
    width: 1.25rem;
    }

    /* PROJECTS - TAB */

    .projects{
        background-size: cover;
        background-position-y: center;
    }

     .projects h2{
        font-size: 5rem;
    }

    .projects-2{
        flex-flow: wrap column;
        padding: 0.25rem;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
    }

    /* SKILLS - TAB */

    .skills{
        background-image: url(assets/bg-skills.png);
        background-size: cover;
        background-position-y: bottom;
    }

    .skills-1{
        flex-flow: wrap column;
        padding: 0.25rem;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
    }
    
    .skills h2{
        font-size: 5rem;
        color: #fffff9;
    }

    /* CARD for PROJECTS and SKILLS - TAB */

    .card{
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;
        width: 40%;
        padding: 1rem;
    }

    .card-content{
        padding: 0.5em;
        font-size: 0.9em;
    }

    /* CONNECT - TAB */

    .connect{
        background-size: cover;
    }

    .connect-2{
        margin-top: 5em;
    }

    .connect h2{
        font-size: 5rem;
    }

    .click h5{
        margin-left: 2rem;
        font-size: 2rem;
    }

    .click img{
        width: 3rem;
        height: 3rem;
    }
}